.service-color {
    width: 250px;
    height: 15px;
    background: #bec3c7;
}
.active-color {
    color: #a6815b;
    font-weight: 600;
    line-height: 40px;
}
.service-colors:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.service-colors{
    width: 250px;
    height: 15px;
    background: #bec3c7;
}
.data-services > div:nth-child(1) > div {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.data-services > div:nth-child(4) > div {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.booking-service-title {
    font-weight: 700;
    color: #666;
   line-height: 40px;
}
.select-service {
    width: 31%;
    margin-left: 5px;
}
.select-service > section {
    padding: 5px 6px;
}
.section {
    padding: 5px 6px;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid  #bec3c7;
    outline: none;
    font-weight: 400;
}
.booking-last {
   border-top: 1px solid #666;
    padding-top: 30px;
    margin-bottom: 30px;
}
.icon-parent {
    width: 35px;
    margin-top: 21px;
    margin-left: 21px;
    height: 35px;
    border-radius: 50%;
    background: #a6815b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.BookItem {
background-color: ghostwhite;
    padding: 0 5px;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}
.category {
    border-radius: 15px;
    box-shadow: 1px 1px 3px #bec3c7;
    padding: 10px;
}
.itemFont {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #777777;
}
.itemIcon {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid #777777;
    margin-right: 10px;
}

