.carousel-item {
    height: 320px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.item-text {
    width: 45%;
    position: relative;
    top: -160px;
    background: rgba(255,255,255, 0.5);
}
.item-text > span {
    line-height: 30px;
}