
.row {
    padding-top: 100px;
}
.titleContent {
    padding: 100px 0;
}
.shelackPrices {
    width: 70%;
    margin: 0 auto;
    padding: 70px 0;
}
.infoPadding > ul {
    padding-left: 0!important;
}
.infoCardParent {
    border-bottom: 1px dashed #AF7E48;
}
#root > article > div.second-size > div{
    width: 100%!important;
}

#root > div.NailDesign > div:nth-child(3) > div:nth-child(1){
    width: 100% !important;
}

@media  screen and (max-width: 700px) {

}

@media  screen and (max-width: 510px) {
    #root > article > div.size > div > div.LineText {
        width: 100%!important;
    }
}
