.needleElectro {
    padding-top: 120px;
    padding-right: 40px;
    padding-bottom: 120px;
    padding-left: 160px;
    margin-right: -224px;
    margin-bottom: 0;
}

.ElectricEpilation .size {
    width: 80%;
    margin: 0 auto;
}

.row {
    padding: 27px 0;
}
.ElectricEpilation {
    padding-bottom: 100px;
}

.TitleOfelectro {
    margin: 100px 0;
    padding: 100px 0;
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .LineText {
        margin-bottom: 40px;
    }
    .newSize {
        width: 65%;
    }
}
