.needleElectro {
    padding-top: 120px;
    padding-right: 40px;
    padding-bottom: 120px;
    padding-left: 160px;
    margin-right: -224px;
    margin-bottom: 0;
}

.ElectricEpilation .size {
    width: 80%;
    margin: 0 auto;
}

.row {
    padding: 27px 0;
}