 
.title_container {
    color: #666;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    animation-timing-function: linear;
    animation-duration: .2s;

}
.title_content {
    width: inherit;
    color: #666;
    font-size: 100%;
    vertical-align: baseline;
    position: relative;
}

.title_content .h2 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 42px;
    color: #A6815B!important;
    line-height: 1.5em;
    word-wrap: break-word;
}
.title_content .h3{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 23px;
    color: #a6815b!important;
    line-height: 2.9em;
    word-wrap: break-word;
}
.title_content p {
    color: #666;
    font-size: 100%;
    vertical-align: baseline;
}

@media screen and (max-width: 540px) {
    .h2 {
        font-size: 32px !important;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 320px) {
    .title_content .h2 {
        font-size: 23px !important;
        font-weight: 700;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #root > article > section > div > div.LineText {
        width: 100% !important;
        text-align: center;
    }
}
@media screen and (max-width:980px ) {
    #root > article > div > div > div > div {
        width: 100% !important;
    }
}