@font-face {
    font-family: "Open Sant";
    /*src: url('/src/assets/Fonts/OpenSans/OpenSans-Bold.ttf');*/
    src: url('assets/Fonts/OpenSans/OpenSans-Regular.ttf');
}
/*//C:\Users\Ruben\Desktop\La-Nush\src\assets\Fonts\OpenSans\OpenSans-Bold.ttf
//src/assets/Fonts/OpenSans/OpenSans-Bold.ttf*/

*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  "Open Sant";
    /*font-family: 'Times New Roman',Georgia,"Times New Roman",serif;*/
    /*font-weight: lighter!important;*/
}
.flexible {
    display: flex;
}
.horizontal {
     flex-direction: row;
 }
.vertical {
     flex-direction: column;
 }
.vertical-reverse {
     flex-direction: column-reverse;
 }
.jStart {
     justify-content: flex-start;
 }
.jEnd {
     justify-content: flex-end;
 }
.jCenter {
     justify-content: center;
 }
.jAround {
     justify-content: space-around;
 }
.jBetween {
     justify-content: space-between;
 }
.aStart {
     align-items: flex-start;
 }
.aEnd {
     align-items: flex-end;
 }
.aCenter {
     align-items: center;
 }
.wrap {
     flex-wrap: wrap;
 }
.noWrap {
     flex-wrap: nowrap;
 }
.grow {
     flex-grow: 1;
 }
.noGrow {
     flex-grow: 0;
 }
.shrink {
     flex-shrink: 1;
 }
.noShrink {
     flex-shrink: 0;
 }
.pageContent {
    padding: 0 30px;
}
.App {
    min-height: 100vh;
}
.pageSize {
    min-height: calc(100vh - 300px);
    padding-top: 119px;
}
.secondary-button {
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 18px;
    border-radius: 5px;
    border: 2px solid #a6815b;
    background-color: #a6815b;
    cursor: pointer;
}
.title {
    font-size: 34px;
    color: #a6815b;
    margin: 30px 0;
    font-weight: 700;
}
